@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --common-border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 320px;
  padding: 16px;
  margin: 24px;
  background-color: var(--white);
  text-align: center;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 10%) 6px 6px 20px;
}

.card-img,
.card-text {
  margin: auto;
}

.card-img > img {
  max-width: 100%;
  display: block;
  width: 100%;
  border-radius: 5%;
}

.card-text h1 {
  color: var(--dark-blue);
  font-size: 1.4rem;
  margin: 20px auto 10px auto;
}

.card-text .description {
  color: var(--grayish-blue);
  margin-bottom: 30px;
  padding: 10px;
}
